.exchangeChartContainer {
    :global {
        .ant-card-body {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 400px;
        }
    }
}

