@use "abstracts";

.dateSelectorsForm {
    display: grid !important;
    grid-template-columns: 1fr;
    gap: 20px;

    @include abstracts.mixins-respond(md) {
        grid-template-columns: 1fr 1fr auto !important;
    }

    :global {
        .ant-form-item-with-help {
            margin-bottom: 0;
        }

        .ant-form-item-explain {
            display: none;
        }
    }
}

